.logo {
  position: relative; }
  .logo h1 {
    background-image: url("../images/dot-pr-logo.png");
    background-size: contain;
    height: 30px;
    width: 30px;
    display: block; }

.footer {
  position: fixed;
  bottom: 0px;
  background: white;
  width: 100%;
  height: 50px;
  z-index: 20; }

.social_icons .social {
  display: inline-block;
  height: 25px;
  width: 25px;
  margin: 15px 2px; }
  .social_icons .social.twitter {
    background: url("../images/twitter.png") no-repeat;
    background-size: contain; }
  .social_icons .social.facebook {
    background: url("../images/facebook.png") no-repeat;
    background-size: contain; }
  .social_icons .social.instagram {
    background: url("../images/instagram.png") no-repeat;
    background-size: contain; }
  .social_icons .social.mail {
    background: url("../images/mail.png") no-repeat;
    background-size: contain; }

.clients-box li {
  min-height: 240px;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  height: 0px; }
  .clients-box li a {
    display: block;
    height: 100%; }
  .clients-box li:hover {
    opacity: 0.7; }

.rotg {
  padding-top: 0px !important; }
  .rotg .bg-rotg {
    background: url("/images/ROTG-logo.png") no-repeat;
    background-position: center;
    height: 100%;
    width: 100%;
    background-color: green;
    background-size: contain;
    min-height: 240px; }

.joy {
  background: url("/images/joy-logo.png"); }

.secretSpa {
  background: url("/images/privatespa12.jpg");
  min-height: 240px; }
  .secretSpa p {
    font-size: 40px;
    color: #858ca6;
    letter-spacing: 2px;
    font-family: Raleway,Gill Sans,Lato;
    text-align: center; }

.kold {
  background: url("/images/kold-logo.jpg"); }
