p, ul {
  font-variant: small-caps; }

#page-wrap, #main-content, #guts {
  min-height: 100%;
  height: 100%; }

.homepage {
  min-height: 100%;
  height: 100%;
  position: relative; }

div.module.parallax-1 {
  height: 100%;
  background: url("/images/dot-pr-logo.png") no-repeat;
  background-position: center; }

.logo {
  position: fixed;
  left: 50px;
  z-index: 22;
  font-weight: bold; }
  .logo h1 {
    margin-top: 15px; }

.img-bg {
  height: auto;
  padding: 0; }
  .img-bg img {
    width: 100%; }

.block-panel .content-panel {
  width: 90%;
  display: block;
  margin: 0 auto; }

.instaReel {
  margin-top: 40px; }

.recButton {
  font-size: 12px;
  text-transform: uppercase;
  font-family: 'Cardo', serif;
  border: solid 1px #b7b7b7;
  padding: 10px 40px;
  margin-top: 20px;
  display: inline-block; }

.team {
  padding: 20px 40px 20px 100px;
  text-align: left; }
  .team h3 {
    margin-bottom: 20px; }
  .team .telephoneIcon {
    background: url("/images/PHONE-01.png") no-repeat;
    background-size: 100%;
    background-position: center;
    height: 15px;
    width: 15px;
    display: inline-block;
    vertical-align: middle; }
  .team .mailIcon {
    background: url("/images/email-01.png") no-repeat;
    background-size: 100%;
    height: 15px;
    width: 15px;
    display: inline-block;
    vertical-align: middle; }
  .team p {
    display: inline-block;
    text-align: left;
    margin-bottom: 0; }
  .team.address p {
    display: block;
    margin: 0; }

.footer {
  position: fixed;
  bottom: 0px;
  background: white;
  width: 100%;
  height: 50px;
  z-index: 20; }

.social_icons .social {
  display: inline-block;
  height: 25px;
  width: 25px;
  margin: 15px 0px; }
  .social_icons .social.twitter {
    background: url("../images/twitter.png") no-repeat;
    background-size: contain; }
  .social_icons .social.facebook {
    background: url("../images/facebook.png") no-repeat;
    background-size: contain; }
  .social_icons .social.instagram {
    background: url("../images/instagram.png") no-repeat;
    background-size: contain; }
  .social_icons .social.mail {
    background: url("../images/mail.png") no-repeat;
    background-size: contain; }
  .social_icons .social.tumblr {
    background: url("../images/mail.png") no-repeat;
    background-size: contain; }

.under_line_decs--events {
  width: 70%; }

.block-panel__container {
  margin: 0 auto;
  max-width: 600px; }

.block-panel__col {
  width: 50%;
  display: inline-block;
  padding: 20px;
  vertical-align: top; }

.events-list-container {
  padding-left: 20px; }

.clients-box li {
  min-height: 240px;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  height: 0px; }
  .clients-box li a {
    display: block;
    height: 100%; }
  .clients-box li:hover {
    opacity: 0.7; }

.clients-box-container {
  background: #fff; }

.rotg {
  padding-top: 0px !important; }
  .rotg .bg-rotg {
    background: url("/images/ROTG-logo.png") no-repeat;
    background-position: center;
    height: 100%;
    width: 100%;
    background-color: #404040;
    background-size: contain;
    min-height: 240px; }

.joy {
  background: url("/images/joy-logo-bw.png"); }

.secretSpa {
  background: url("/images/privatespa12-bw.png");
  min-height: 240px; }
  .secretSpa p {
    font-size: 40px;
    color: #404040;
    letter-spacing: 2px;
    font-family: Raleway,Gill Sans,Lato;
    text-align: center; }

.kold {
  background: url("/images/kold-logo.jpg"); }

.whiteheader {
  position: fixed;
  height: 50px;
  z-index: 20;
  background-color: white;
  top: 0;
  width: 100%; }

.bg-grey {
  background-color: #f1f1f1; }

.headingDot {
  background: black;
  width: 150px;
  border-radius: 50%;
  height: 150px;
  margin: 0 auto;
  position: relative;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 60px; }

.headingDot--heading {
  margin: 0 auto;
  display: block;
  position: absolute;
  transform: translate(-50%, -50%);
  margin-top: 75px;
  margin-left: 79px;
  color: white; }

.menu-nav li a:before, .menu-nav li a:after {
  border-radius: 50%;
  height: 8px;
  width: 8px;
  margin-top: -5px; }

.menu-nav li a:before {
  margin-left: 5px; }

.menu-nav li a.current:before, .menu-nav li a.current:after, .menu-nav li a:hover:after, .menu-nav li a:hover:before {
  background: black;
  margin-left: 5px; }

.close_menu i:hover {
  border-radius: 50%;
  background-color: black;
  color: white; }

.ion-android-close:before:hover {
  width: 40px; }
