.clients-box{
    li{
        min-height: 240px;
        position: relative;
        height: 0px;

        a{
            display: block;
            height: 100%;
        }

        &:hover{
            opacity: 0.7;
        }
    }
}

.block-panel--events{
    .dual_title_b{
        width: 68%;
        margin: 0 auto;
        padding: 30px 0 10px;
    }
}

.clients-box-container{
    background: #fff;
    margin-top: 0px;
    padding: 100px;
}

.background-image-container{
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;

    &--rotg{
        background-image: url("/images/ROTG-logo.png");
        background-color: #404040;
        background-size: contain;
        max-width: 240px;
        margin: 0 auto;
    }

    &--joy{
        background-image: url("/images/joy-logo-colour.png");
        background-size: 155px 149px;
    }

    &--bea{
        background-image: url("/images/bea-logo.png");
        // background-size: 225px 225px;
        background-size: contain;
    }

    &--secretSpa{
        background-image: url('/images/secret-spa-logo.jpg');
        // background-size: 340px 240px;
        background-size: contain;

        p{
            font-size: 32px;
            color: #404040;
            letter-spacing: 2px;
            font-family: Raleway,Gill Sans,Lato;
            text-align: center;
        }
    }

    &--kold{
        background-image: url('/images/kold-logo.png');
        // background-size: 240px 240px;
        background-size: contain;
    }

    &--ltc{
        background-image: url('/images/londonteacompany.png');
        background-size: 230px auto;
        // background-size: contain;
    }

    &--tokyo{
        background-image: url('/images/tokyojames.png');
        background-size: 230px auto;
        // background-size: contain;
    }

}

.rightAlign{
    // text-align: right;
}

@media only screen and (max-width: 1050px) {
    .clients-box-container{
        padding: 100px 0px;
    }

    .clients-box li:nth-child(1){
        padding-left: 0;
    }
    .clients-box li:nth-child(4){
        padding-right: 0;
    }

}

@media only screen and (max-width: 950px) {
    .paddingAbout{
        padding-left: 20px;
        padding-right: 20px;

    }

    .clients-box li:nth-child(1){
        padding-left: 20px;
    }
    .clients-box li:nth-child(4){
        padding-right: 20px;
    }

    .block-panel--events .dual_title_b{
        width: 100%;
    }
}

@media only screen and (max-width: 550px) {
    .clients-box-container{
        padding: 50px 0 0px;
    }

    .clients-box li{
        width: 100%;
    }

}
