.events-list-container{
    padding-left: 20px;
}

.under_line_decs--events{
    width: 80%;
}
.block-panel--events{
    padding-top: 100px;
    padding-bottom: 100px;

    .heading{
        margin-bottom: 50px !important;
    }
}

.team_contener--events{
    padding-bottom: 60px;
}

.box-container{
    display: inline-block;
    width: 100%;
}

.box-column{
    width: 50%;
    display: inline-block;
}

.wideContainer{
    max-width: 850px;
    margin: 0 auto;
}

.box{
    width: 50%;
    height: 23vw;
    display: inline-block;
    vertical-align: top;
    position: relative;
    text-align: center;
    // background-color: #7d7d7d;

    &--picture{
        background-color: grey;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    &--1{
        background-position: bottom left;
        background-size: 140%;
        background-image: url('/images/cupcakeTower.jpg');
    }
    &--2{
        background-image: url('/images/flowers.jpg');
    }
    &--3{
        background-image: url('/images/koldCocktail.jpg');
    }
    &--4{
        background-image: url('/images/kold.jpg');
    }
}

.bg_darkGrey{
    background-color: #7d7d7d;
    color: white;
}

.box__content{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 100%;
    font-size: 20px;
    font-weight: normal;
    color:#7d7d7d;
    text-transform: uppercase;
}

.box--picture{

}

@media only screen and (max-width: 950px) {
    .box-column{
        width: 100%;
    }

    .box{
        height: 46vw;
    }
}

@media only screen and (max-width: 750px) {
    .block-panel__col{
        display: block;
        width: 100%;
    }

    .block-panel__col--right{
        padding-top: 0;
    }

    .under_line_decs--events{
        width: 100%;
    }

}

@media only screen and (max-width: 550px) {
    .box__content{
        font-size: 10px;
    }
}
