/* HelveticaNeue */
@font-face {
  font-family: 'HelveticaNeue';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/HelveticaNeue-Condensed.eot'); /* IE9 Compat Modes */
  src: local('HelveticaNeue'), local('HelveticaNeue'),
       url('../fonts/HelveticaNeue-Condensed.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/HelveticaNeue-Condensed.woff') format('woff2'), /* Super Modern Browsers */
       url('../fonts/HelveticaNeue-Condensed.woff') format('woff'), /* Modern Browsers */
       url('../fonts/HelveticaNeue-Condensed.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/HelveticaNeue-Condensed.svg') format('svg'); /* Legacy iOS */
}