.team{
    padding: 20px 40px 20px 100px;
    text-align: left;

    h3{
        margin-bottom: 20px;
    }

    .telephoneRow{
        // text-align: left;
        // margin-top: 25px;
    }

    .telephoneIcon{
        background: url('/images/PHONE-01.png') no-repeat;
        background-size: 100%;
        background-position:  center;
        height: 15px;
        width: 15px;
        display: inline-block;
        vertical-align: middle;
    }


    .mailIcon{
        background: url('/images/email-01.png') no-repeat;
        background-size: 100%;
        height: 15px;
        width: 15px;
        display: inline-block;
        vertical-align: middle;
    }

    p{
        display: inline-block;
        text-align: left;
        margin-bottom: 0;
    }

    &.address{
        p{
            display: block;
            margin: 0;
        }
    }

}

.footer{
    position: fixed;
    bottom: 0px;
    background: white;
    width: 100%;
    height: 50px;
    z-index: 20;
}
