#page-wrap, #main-content, #guts{
    min-height: 100%;
    height: 100%;
}

p, ul{
    // color: black;
    // font-variant: small-caps;
}

h1 a{
    color: black;
    font-weight: bold;
}


// General

.whiteheader{
    position: fixed;
    height: 50px;
    z-index: 20;
    background-color: white;
    top: 0;
    width: 100%;
}

.bg-grey{
    background-color: #f0f0f0;
}
.bg_grey{
    background-color: #f0f0f0;
}

.headingDot{
    background: black;
    width: 150px;
    border-radius: 50%;
    height: 150px;
    margin: 0 auto;
    position: relative;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 60px;
}

.headingDot--heading{
    margin: 0 auto;
    display: block;
    position: absolute;
    transform: translate(-50%, -50%);
    margin-top: 75px;
    margin-left: 79px;
    color: white;
}


.button--effect{
    position: relative;
    overflow: hidden;
    transition: color 0.4s;
    -webkit-transition-timing-function: cubic-bezier(0.7,0,0.9,1);
    transition-timing-function: cubic-bezier(0.7,0,0.9,1);

    &:before{
        content: '';
        z-index: -1;
        position: absolute;
        top: 50%;
        left: 100%;
        margin: -15px 0 0 1px;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background: #5d5d5d;
        -webkit-transform-origin: 100% 50%;
        transform-origin: 100% 50%;
        -webkit-transform: scale3d(1, 2, 1);
        transform: scale3d(1, 2, 1);
        -webkit-transition: -webkit-transform 0.4s, opacity 0.3s;
        transition: transform 0.4s, opacity 0.3s, color 0.2s;
        -webkit-transition-timing-function: cubic-bezier(0.7,0,0.9,1);
        transition-timing-function: cubic-bezier(0.7,0,0.9,1);

    }

    // &:before{
    //     content: '';
    //     z-index: -1;
    //     position: absolute;
    //     top: 50%;
    //     left: 100%;
    //     margin: -15px 0 0 1px;
    //     width: 30px;
    //     height: 30px;
    //     border-radius: 50%;
    //     background: #5d5d5d;
    //     -webkit-transform-origin: 100% 50%;
    //     transform-origin: 100% 50%;
    //     -webkit-transform: scale3d(1, 2, 1);
    //     transform: scale3d(1, 2, 1);
    //     -webkit-transition: -webkit-transform 0.4s, opacity 0.3s;
    //     transition: transform 0.4s, opacity 0.3s;
    //     -webkit-transition-timing-function: cubic-bezier(0.7,0,0.9,1);
    //     transition-timing-function: cubic-bezier(0.7,0,0.9,1);
    //
    // }

    &:hover{
        color: white;
        transition: color 0.4s;
        -webkit-transition-timing-function: cubic-bezier(0.7,0,0.9,1);
        transition-timing-function: cubic-bezier(0.7,0,0.9,1);

        &:before{
            transform: scale3d(9, 9, 1);
        }
    }

}

.page-section-footer{
    margin-top: 50px;
}

.social_icons{

    .social{
        display: inline-block;
        height: 25px;
        width: 25px;
        margin: 15px 0px;
        filter: invert(0%);
        background-size: contain;
        background-repeat: no-repeat;

        // &:hover{
        //     filter: invert(100%);
        //     -webkit-filter: invert(100%);
        // }

        &.twitter{
            background-image: url("../images/twitter-black.png");
        }

        &.facebook{
            background-image: url("../images/facebook-black.png");
        }

        &.instagram{
            background-image: url("../images/instagram-black.png");
        }

        &.mail{
            background-image: url("../images/mail-black.png");
        }

        &.tumblr{
            background-image: url("../images/tumblr-black.png");
        }
    }
}




@media only screen and (max-width: 550px) {
    .paddingMob{
        padding-top: 20px;
    }


}
