// HERO

.homepage{
    margin-bottom: 0;
    // max-height: 630px;
    height: 100%;
    position: relative;
    background: url('/images/hero-backgroundNew.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    // transition: opacity 4s linear;
    // opacity: 0;

    &:hover{
        opacity: 1;
    }
}

.module.parallax-1{
     height: 100%;
     background: url('/images/dot-logo.png') no-repeat;
     background-position: center 45% ;
}

header{
    margin-bottom: 0;
}

// HOMEPAGE

.logo{
    position: fixed;
    left: 50px;
    z-index: 1000;
    font-weight:bold;

    h1{
        margin-top: 15px;
    }
}

.img-bg{
    height: auto;
    padding: 0;

    img{
        width: 100%;
    }
}

.team_contener--homepage{
    padding-bottom: 40px;
}

.block-panel{
    .content-panel{
        width: 90%;
        display: block;
        margin: 0 auto;
    }
}

.instaReel{
    margin-top: 40px;
}


.button {
    font-size: 12px;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
	float: left;
	min-width: 150px;
	max-width: 250px;
	display: block;
	margin-top: 20px;
	padding: 10px 30px;
	border: solid 1px #b7b7b7;
    display: inline-block;
	position: relative;
	z-index: 1;
	-webkit-backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
}

// /* Sacnite */
// .button.button--sacnite {
// 	min-width: 0;
// 	color: #5d5d5d;
// 	-webkit-transition: color 0.3s;
// 	transition: color 0.3s;
// }
//
// .button--sacnite::before {
// 	content: '';
// 	position: absolute;
// 	top: 0;
// 	left: 0;
// 	width: 100%;
// 	height: 100%;
// 	z-index: -1;
// 	box-shadow: inset 0 0 0 35px #fff;
// 	-webkit-transition: box-shadow 0.3s, -webkit-transform 3s;
// 	transition: box-shadow 0.3s, transform 3s;
//
// }
//
//
// .button--sacnite:hover {
// 	color: #ffffff;
//     background-color: #5d5d5d;
//     border: 1px solid #5d5d5d;
// }
//
// .button--sacnite:hover::before {
// 	box-shadow: inset 0 0 0 0px #fff;
// 	-webkit-transform: scale3d(1, 1, 1);
// 	transform: scale3d(1, 1, 1);
// }

@media only screen and (max-width: 950px) {
    .logo{
        left:20px;
        top: 0px;
    }

}


@media only screen and (max-width: 750px) {
    .module.parallax-1{
        background-size: 80% auto;
    }

    .block-panel-pr{
        padding: 40px 20px;
    }

    .mobile-boxed{
        padding: 0;
    }
}
