// .fixed_nav{
//     right: 440px;
// }

.small-logo{
    background: url("../images/dot-logo.png") no-repeat;
    background-size: auto 70px;
    background-position: top center;
    margin: 0 auto;
    height: 63px;
    width: 100px;
    text-align: center;
    margin-bottom: 20px;
}

.menu-btn{
    z-index: 1000;

    li{
        background-color: black;
        border-radius: 2px;
        width: 25px;
        transition: all 0.3s ease;

    }

    li:nth-child(1){
        transform: rotateZ(0deg);
        transform-origin: center;
        // top: 21px;

    }

    li:nth-child(3){
        transform: rotateZ(0deg);
        transform-origin: center;
        // top: 21px;
    }
}

.activeMenu{
    li:nth-child(1){
        transform: rotateZ(45deg);
        transform-origin: center;
        top: 21px;

    }
    li:nth-child(2){
        display: none;
    }
    li:nth-child(3){
        transform: rotateZ(-45deg);
        transform-origin: center;
        top: 21px;
    }
}


.menu-nav li a:before, .menu-nav li a:after {
    border-radius: 50%;
    height: 8px;
    width: 8px;
    margin-top: -5px;
}

.menu-nav{
    li{
        a{
            font-family: 'HelveticaNeue-Condensed', sans-serif;
            font-weight: bold;
            font-size: 20px;
            line-height: 1.5;
            color: #5d5d5d;
        }
    }
}

.menu-nav li a:before{
    margin-left: 5px;
}

.menu-nav li a.current:before, .menu-nav li a.current:after, .menu-nav li a:hover:after, .menu-nav li a:hover:before {
    background: black;
    margin-left: 5px;
}

.close_menu i {

    &:hover{
        border-radius: 50%;
        background-color: black;
        color: white;

    }
}
.ion-android-close:before {
    &:hover{
        width: 40px;
    }
}
